# Django
SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_ENGINE=mysql
DB_NAME=employee_management
DB_USER=root
DB_PASSWORD=tiger
DB_HOST=127.0.0.1
DB_PORT=3306

# JWT
JWT_ACCESS_MIN=60
JWT_REFRESH_DAYS=7